<nav>
  {% if layout.is_post %}
    <a href="/">&lt;&lt; Home</a>
    {% if page.mediumId %}
    <a href="{{ site.author.medium }}/{{ page.mediumId }}">medium</a>
    {% endif %}
    {% if page.devtoId %}
    <a href="{{ site.author.devto }}/{{ page.devtoId }}">dev.to</a>
    {% endif %}
  {% else %}
    Felipe Martins <span class="subtle-text">on software engineering.</span>
    <a href="{{ site.author.linkedin }}">linkedin</a>
    <a href="{{ site.author.github }}">github</a>
  {% endif %}
</nav>
